main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2em;
    font-weight: 800;
    color: white;
    margin-bottom: 1em;
    width: fit-content;
}

p {
    width: 300px;
    font-size: 20px;
    margin-right: 1.25em;
    margin-bottom: 1em;
    font-weight: 600;
    font-family: "Public Sans", serif;
    color: white;
}

main svg {
    width: 200px;
    height: 200px;
    fill: white;
}

button {
    background: #EC221F;
    border: 0;
    padding: .75em 1.5em;
    border-radius: .5em;
}

button a {
    color: white;
    text-decoration: none;
}

#imagemFundo img {
    width: 1000px;
}

#div-img img {
    border-radius: 50%;
    width: 200px;
    height: 215px;
    margin-right: 3em;
    object-fit: cover;
    object-position: 30% 60%;
}

@media (max-width: 768px) {
    #imagemFundo {
        display: none;
    }
}

@media (max-width: 425px) {
    p {
        margin: 0 0 1em 0;
    }

    button {
        margin-bottom: 1.5em;
    }
}

.dark-mode header svg {
    fill: black;
}